$bg-color: #212121;

// Navbar
$nav-height: 3.5rem;
$nav-font-color: #fff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;

$small-font-size-small: .9rem;
$small-font-size-mid: 1rem;
$small-font-size-big: 1.1rem;
$small-font-size-huge: 1.2rem;

$mid-font-size-small: 1rem;
$mid-font-size-mid: 1.15rem;
$mid-font-size-big: 1.3rem;
$mid-font-size-huge: 1.5rem;

$font-size-small: 1rem;
$font-size-mid: 1.2rem;
$font-size-big: 1.5rem;
$font-size-huge: 2rem;


$font-color: #212121;
$line-height-base: 1.6;

$accent-color: #ff6b00;
